div.mini-figure {
	width: 40px;
	height: 40px;
	float: left;
}

div.mini-blocs {
	float: left;
	width: 40px;
	height: 40px;
	margin: 0px;
}


div.mini-bloc {
	position: relative;
	float: left;
	
	width: 10px;
	height: 10px;
	background: white;
}

li {
	list-style:none;
}
